.single-spot-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: aquamarine; */
    margin-left: 150px;
    margin-right: 150px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,Helvetica Neue, sans-serif;
}

.spotname {
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 5px;
}

.single-spot-content {
    /* background-color: azure; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -10px;

}

.spot-images {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 4px;
    border-radius: 10px;
    height: 500px;
}

.preview-img {
    max-height: 500px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:100%;
    min-height: 500px;
}

.spot-imgs-continer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 500px;
    gap: 4px;
    overflow: hidden;
}

.small-img {
    min-height: 100%;
    max-height: 100%;
    width:100%;
    object-fit: cover;
}

.spot-details-scroll {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    margin-top:20px;
}

.one-spot-details {
    margin-right: 10px;
    font-weight: 300
}

.descriptionbreak {
    display: flex;
    background-color: rgb(228, 228, 228);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 98%;
    height: 1px;
}

.host-div {
    font-weight: 500;
    font-size: 30px;
}
.aircover>img {
    width: 200px;
    margin-bottom: 30px;
}

.aircover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.single-spot-description{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}

.price-review-side-div-container {
    display: flex;
    justify-content: right;
}

.price-review-side-div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: rgba(235, 233, 233, 0.5) solid 1px;
    box-shadow: 0px 0px 5px rgb(148, 148, 148);
    height: 60px;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
}

.border-number {
    font-size: 20px;
    font-weight: 600;
}

.review-side-div {
    margin-left: 30px;
    margin-top: 2px;
}

.price-side-div {
    margin-left: 10px;
}

.spotdetails-review-div {
    font-size: 20px;
    font-weight: 400;

}

.spotdetails-review-button {
        height: 40px;
        width: 200px;
        margin-top: 18px;
        outline: none;
        border: none;
        border-radius: 8px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        background-color: rgb(255, 56, 109);;
        cursor: pointer;
        margin-bottom: 20px;
}

.spotdetails-review-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: auto;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 15px 15px 15px 0px;
}

.spotdetails-review-details {
    display: flex;
    flex-direction: column;
  }

  .spotdetails-review-creators {
    margin-top: 25px;
    font-size: 16px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  }

  .spotdetails-review-date {
    font-size: 15px;
    color:grey;
    margin: 5px 0px 10px 0px;
  }

  .spotdetails-review-contents {
    font-size:15px
  }
