.myreview-title{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(255, 56, 179);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.myreview-content {
    padding-top: 100px;
    width: 1300px;
    display:flex;
    align-items: center;
    flex-direction: column;
    /* background-color:aqua; */

}

.myreview-details {
    width: 400px;
    display:flex;
    flex-direction: column;
    padding-bottom: 25px;

}

.myreview-spot-title {
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 56, 179);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    padding-bottom: 20px;
}

.myreview-review {
    font-size: 18px;
    font-weight: 300px;
    padding-bottom: 20px;
}

.myreview-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myreview-button {
    height: 30px;
    width: 60px;
    margin-top: 16px;
    padding: 6px 12px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(255, 56, 179);
    background-size: 200% 200%;
    cursor: pointer;
}
