.review-title{
    display:flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    /* color: rgb(255, 56, 92); */
}

.errors {
    color: rgb(255, 56, 92);
    font-size: 14px;
    font-weight: 450;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.create-review-form {
    display:flex;
    flex-direction: column;
    width: 300px;

}

.review-div {
    display:flex;
    justify-content: center;
    flex-direction: column;

}
.review-label {
    font-size: 20px;
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: rgb(255, 56, 92);
    flex-direction: column;
}

.stars-div {
    display:flex;
    justify-content: center;
    flex-direction: column;

}

.stars-label {
    font-size: 20px;
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: rgb(255, 56, 92);
    flex-direction: column;
}

.button-div {
    display:flex;
    justify-content: center;

}

.create-review-button {
    height: 48px;
    width: 100px;
    margin-top: 16px;
    margin-right: 20px;
    padding: 12px 24px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    background-color: rgb(255, 56, 92);
  }
