
.allspots-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 60px 150px 60px 150px;
  flex-wrap: wrap;
  column-gap: 20px;
}

/* .allspot-img:hover{
  cursor: pointer;
  box-shadow:  0px 0px 5px rgba(148, 148, 148,0.5);
} */
.allspot-img-div {
  max-width: 500px;
  max-height: 500px;
  padding-bottom: 100%;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.allspot-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  min-height: 500px;
  border-radius: 10px;
  cursor: pointer;
}


/* .allspot-img {
  height: 280px;
  width: 306px;
  border-radius: 10px;
}

.allspot-img:hover{
  cursor: pointer;
  box-shadow:  0px 0px 5px rgba(148, 148, 148,0.5);
}

.allspots-wrapper {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap:18px;
  justify-content: flex-start;
  margin-left: 140px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 20px;
} */


.spotcard-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 300px;
  font-size: 15px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.spotcard-avgRating {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: black;
  margin-top: 10px;
}

.spotcard-avgRating span {
  margin-left: 4px;
}



.spotcard-info {
  display: flex;
  flex-direction: column;
	margin-top: 0px;
	margin-bottom: 25px;
	width: auto;
}



.spotcard-location {
	font-size: 16px;
  font-weight: 500;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	color: #222222;
  margin-top: 10px;
}

.spotcard-price {
	display: flex;
  flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	color: #222222;
  margin-top: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.spotcard-price span {
  font-size: 18px;
  font-weight: 500;
}

.spotcard-price {
  font-size: 16px;
	font-weight: 350;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.night{
  margin-left: 5px;
}
