.allspots-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 60px 150px 60px 150px;
  flex-wrap: wrap;
  column-gap: 20px;
  /* background-color: aqua; */
}

.allspot-img-div {
  width: 100%;
  padding-bottom: 100%;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
}

.allspot-img {
  position: absolute;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.spotcard-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.spotcard-avgRating {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: black;
  margin-top: 10px;
}

.spotcard-avgRating span {
  margin-left: 4px;
}



.spotcard-info {
  display: flex;
  flex-direction: column;
	margin-top: 0px;
	margin-bottom: 25px;
	width: auto;
}



.spotcard-location {
	font-size: 16px;
  font-weight: 500;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	color: #222222;
  margin-top: 10px;
}

.spotcard-price {
	display: flex;
  flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	color: #222222;
  margin-top: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.spotcard-price span {
  font-size: 18px;
  font-weight: 500;
}

.spotcard-price {
  font-size: 16px;
	font-weight: 350;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.night{
  margin-left: 5px;
}
