.navi-ul {
    height: 100px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  }

  .navi-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 150px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  }

  .logo {
    left: 60px;
    width: 250px;
    margin-top: 0.1em;
    margin-left: 0.5em;
  }

  .navi-right{
    display: flex;
    justify-content: space-between;
  }

  .profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 156px;
    z-index: 9999;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  }

  .fa-circle-user {
    color: rgb(118, 115, 115);
    margin-top: 5.5px;
    font-size: 2.2em;
  }

  .fa-bars {
    color: rgb(102, 100, 100);
    margin-left: 6px;
    margin-top: 11px;
    font-size: 1.5em;
  }

  .profile-button {
    margin-top: 5px;
    height: 42px;
    width: 78px;
    border-radius: 20px;
    border: 1px solid rgb(210, 208, 208);
    background-color: white;
    display: flex;
    justify-content: space-around;
  }

  .profile-button:hover {
    box-shadow: 0 2px 2px 0 rgba(157, 158, 156, 0.2), 0 3px 3px 0 rgba(122, 120, 120, 0.19);
    cursor: pointer;
  }

  .menuShown{
    visibility: visible;
    width: 130px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 3px 3px 2px rgba(157, 158, 156, 0.2), 0px 3px 5px 5px rgba(122, 120, 120, 0.19);
    z-index: 9999;
    position: relative;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  }

  .not-menuShown {
    visibility: hidden;
  }

  .profile-dropdown {
    width: auto;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 3px 2px rgba(157, 158, 156, 0.2), 0px 3px 5px 5px rgba(122, 120, 120, 0.19);
    z-index: 9999;
    position: relative;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  }

  .profile-username{
    margin: 10px;
  }

  .profile-email{
    margin: 10px;
  }

  .profile-blank {
    background-color: #dedede99;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    /* margin-bottom: -40px; */
  }

  .profile-btm-div {
    color: black;
    font-size: 14px;
    font-weight: 400;
    padding-left: 12px;
    padding-top: 10px;
    margin-bottom: 8px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  }

  .profile-btm-div:hover {
    /* box-shadow: 0 2px 2px 0 rgba(157, 158, 156, 0.2), 0 3px 3px 0 rgba(122, 120, 120, 0.19); */
    cursor: pointer;
  }
